@page
@model Alfa.Pages.Index1Model
@{
    ViewData["title"] = Model.BillType + " Transaction Check";
}
<link rel="stylesheet" href="~/lib/DataTables_4/datatables.min.css" asp-append-version="true" />
    <div class="container-fluid px-4">
        <h1 class="mt-4">@Model.BillType</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">
                Check for @Model.BillType transaction History
            </li>
        </ol>
        <div class="row">
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Transaction History
            </div>
            <div class="card-body">
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
                </form>
                <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap mt-3 text-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>TransactionId</th>
                            <th>MSSIDN</th>
                            <th>CreditCard</th>
                            <th>Status</th>
                            <th>CS</th>
                            <th>SV</th>
                            <th>Amount</th>
                            <th>Date/Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td><a class="btn btn-info"><i class="fas fa-pencil"></i> </a></td>
                        </tr>
                        <tr>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132234234</td>
                            <td>132432342</td>
                            <td>123321233</td>
                            <td>123321233</td>
                            <td>123321233</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    @section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script><!--SideBar-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script><!--JQuerry-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script> <!--DropDown menu--->
    }